<div class="qz_footer">
  <div class="footer_c">
    <div class="fl"><a href="{#"QZ_index"|qishi_url#}">青职网</a> | {#$QISHI.bottom_other#} | {#$QISHI.icp#}</div>
    <div class="fr"><a href="{#$QISHI.site_dir#}news/news-show.php?id=34">关于</a> | <a href="{#$QISHI.site_dir#}news/news-show.php?id=35">联系</a> | <a href="{#"QZ_zhiwei"|qishi_url#}">招聘</a> | <a href="{#"QZ_jianxi"|qishi_url#}">见习</a> | <a href="{#"QZ_jianzhi"|qishi_url#}">兼职</a> | <a href="{#"QZ_index"|qishi_url#}user/personal/personal_user.php?act=feedback">意见反馈</a> | <a href="{#$QISHI.site_dir#}news/news-show.php?id=36">服务与声明</a> </div>
  </div>
</div>