<div class="show_top">
	<div class="show_top_c">
    	<div class="logo"><a href="#"><img src="{#$QISHI.site_template#}images/rs_logo.gif" width="141" height="48" /></a></div>
        <div class="menu"><a href="{#"QS_index"|qishi_url#}">首页</a><em></em><a href="{#"QZ_zhiwei"|qishi_url#}">职位信息</a><em></em><a href="{#"QZ_rencai"|qishi_url#}">人才信息</a><em></em><a href="{#"QZ_jianxi"|qishi_url#}">见习中心</a><em></em><a href="{#"QZ_jianzhi"|qishi_url#}">兼职信息</a><em></em><a href="{#"QZ_mianshi"|qishi_url#}">面试中心</a><em></em><a href="{#"QZ_zhidao"|qishi_url#}">指导中心</a></div>
        <div class="top_side fr">
            	{#include file="top-nav.htm"#}
        </div>
        <div class="clear"></div>
  </div>
</div>

