<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<meta http-equiv="x-ua-compatible" content="ie=7" />
<title>指导中心 | 青职网</title>
<link href="{#$QISHI.site_template#}css/global.css" rel="stylesheet" media="all" />
<link href="{#$QISHI.site_template#}css/column.css" rel="stylesheet" media="all" />
<script type="text/javascript" src="{#$QISHI.site_template#}js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="{#$QISHI.site_template#}js/jquery-index.js"></script>
<link rel="stylesheet" type="text/css" href="{#$QISHI.site_template#}images/ibanner/lrtk.css">
<script type="text/javascript" src="{#$QISHI.site_template#}images/ibanner/jquery-1.6.4.min.js"></script>
<script type="text/javascript" src="{#$QISHI.site_template#}images/ibanner/jquery.nivo.slider.js"></script>
<script type="text/javascript" src="{#$QISHI.site_template#}images/ibanner/cufon-yui.js"></script>
<script type="text/javascript" src="{#$QISHI.site_template#}images/ibanner/scripts.js"></script>
<script type="text/javascript" src="{#$QISHI.site_template#}images/ibanner/custom.js"></script>
</head>
<body id="top">
<p id="back-to-top"><a href="#top"><span></span>返回顶部</a></p>
{#include file="header.html"#}
<div class="p_banner" style="background:#fefdfe;">
  <div class="p_banner_c"><img src="{#$QISHI.site_template#}images/p_banner_zd.jpg" width="1004" height="123" /></div>
</div>
<div class="p_main">
  <div class="zd_tit">
    <h1>指导中心</h1>
    <span>{#qishi_news_category set="列表名:category,资讯小类:GET[id]"#}
    {#qishi_news_category set="列表名:pcat,资讯小类:"|cat:$category.parentid"#}
    当前位置：<a href="{#$QISHI.site_dir#}">首页</a>&nbsp;>&nbsp;<a href="{#"QZ_zhidao"|qishi_url#}">指导中心</a>&nbsp;{#if $pcat#}>&nbsp;<a href="{#$pcat.url#}">{#$pcat.title#}</a>&nbsp;{#/if#}>&nbsp;<a href="{#$category.url#}">{#$category.title_#}</a></span>
    <div class="clear"></div>
  </div>
  <div class="p_main_art">
    <div class="p_art_list fl">
      <div class="p_art_list_con">
        <h1>{#$category.title_#}</h1>
        <ul>
        {#if $pcat||$smarty.get.id==14#}
          {#qishi_news_list set="列表名:list,分页显示:1,资讯小类:GET[id],填补字符:..."#} 
        {#else#}
       {#qishi_news_list set="列表名:list,分页显示:1,资讯大类:GET[id],填补字符:..."#} 
        {#/if#}  
          <!--   以下为循环读取 --> 
          {#foreach from=$list item=li#}
          <li><a href="{#$li.url#}">{#$li.title#}</a><em></em><span>{#$li.addtime|date_format:"%Y-%m-%d"#}</span></li>
          {#/foreach#} 
          <!-- 循环结束 -->
          
        </ul>
        <div class="p_page"> {#if !$list#} 抱歉，没有符合此条件的信息。{#/if#}{#if $page#}{#$page#}{#/if#} </div>
      </div>
    </div>
    <div class="p_art_list_side fr">
	{#if $smarty.get.id!=14#}
      <div class="art_s1">
      {#if $pcat#}
      {#qishi_news_category set="列表名:scat,资讯大类:"|cat:$category.parentid"#}
        <div class="tit"><a href="{#$pcat.url#}">{#$pcat.title#}</a></div>
        <ul>
          {#foreach from=$scat item=list#}
          <li><a href="{#$list.url#}" {#if $smarty.get.id==$list.id#}class="on"{#/if#}>{#$list.categoryname#}</a></li>
          {#/foreach#}
        </ul>
      {#else#}
      {#qishi_news_category set="列表名:scat,名称长度:20,资讯小类:"|cat:$category.id"#}
        <div class="tit"><a href="{#$scat.url#}">{#$scat.categoryname#}</a></div>
        <ul>
         {#qishi_news_category set="列表名:slist,资讯大类:"|cat:$category.id"#}
          {#foreach from=$slist item=list#}
          <li><a href="{#$list.url#}" {#if $smarty.get.id==$list.id#}class="on"{#/if#}>{#$list.title#}</a></li>
          {#/foreach#}
        </ul>
      {#/if#}
      </div>
	  {#/if#}
      <div class="art_s2"><a href="{#$QISHI.site_dir#}user/personal/personal_tucao.php?act=make"></a></div>
      <div class="art_s3"><a href="#"></a></div>
      <div class="art_s4">
        <h3>青职相关</h3>
        <div class="con">
          <p>新手上路：<a href="#">教你如何快速找到工作</a></p>
          <p>关注青职：<a href="#" class="sina"></a><a href="#" class="douban"></a></p>
          <p>服务热线：0898-88888888</p>
          <div class="side_book"><a href="#"></a></div>
        </div>
      </div>
    </div>
    <div class="clear"></div>
  </div>
  <script type="text/javascript">
$(".p_art_list_con li:even").addClass("libg");
$(".art_s1 li:last").css("border","none");
</script> 
</div>
{#include file="footer.html"#}
</body>
</html>