<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<meta http-equiv="x-ua-compatible" content="ie=7" />
<title>指导中心 | 青职网</title>
<link href="{#$QISHI.site_template#}css/global.css" rel="stylesheet" media="all" />
<link href="{#$QISHI.site_template#}css/column.css" rel="stylesheet" media="all" />
<script type="text/javascript" src="{#$QISHI.site_template#}js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="{#$QISHI.site_template#}js/jquery-index.js"></script>
</head>
<body>
<div class="header">
	<div class="top">
    	<div class="top_con">
        	<div class="fl">
            	<ul id="twitter">
					<li><a href="#">第一条消息</a></li>
					<li><a href="#">第二条消息</a></li>
					<li><a href="#">第三条消息</a></li>
				</ul>
            </div>
            <div class="fr top_side">
            	<span class="icon_reg"><a href="#">注册</a></span>
                <span class="icon_login"><a href="#">登陆</a></span>
                <span class="icon_help"><a href="#">帮助</a></span>
            </div>
        </div>
    </div>
    <div class="con">
    	<div class="con_c">
    		<div class="logo fl"><a href="#"><img src="images/logo.gif" width="293" height="30" /></a></div>
            <div class="menu fr">
            	<a href="index.html">首 页</a> <a href="zhiwei.html">职位信息</a> <a href="rencai.html">人才信息</a> <a href="jianxi.html">见习中心</a> <a href="jianzhi.html">兼职信息</a> <a href="mianshi.html">面试中心</a> <a href="zhidao.html" class="on">指导中心</a> 
            </div>	
        </div>
    </div>
    <div class="search">
    	<div class="search_c">
        	<div class="fl search_hot">热门关键词：<a href="#">银行</a><a href="#">公务员</a><a href="#">研发</a><a href="#">销售经理</a><a href="#">市场总监</a></div>
            <div class="fl search_input"><input name="search"><a href="#"></a></div>
        </div>
    </div>  
</div>

<div class="p_banner" style="background:#fefdfe;">
	<div class="p_banner_c"><img src="images/p_banner_zd.jpg" width="1004" height="123" /></div>
</div>

<div class="p_main">
		<div class="zd_tit">
    		<h1>指导中心</h1>
            <span>您现在的位置：<a href="#">首页</a> > <a href="#">指导中心</a> > <a href="#">求职面试资料库</a> > 类别</span>
            <div class="clear"></div>
        </div>
         
        <div class="p_main_art">
        
        	<div class="p_art_show fl">
            	<div class="p_art_show_con">
                	<div class="tit">
                		<h1>这里是标题算了</h1>
                        <p>发布时间：2013-9-26 1:25:25　　查看次数：200　　<a href="#">打印</a>　　<a href="#">收藏</a>　　<a href="#">返回</a></p>
                    </div>
                	<div class="con">
                    	<p>?? ? 为什么每次面试，面试官一定会问那些问题？没想过这个问题？好吧，这就是你面试总是不成功，找不到好工作的关键。</p>
                    	<p>　　其实，这些问题之所以永远流行，是因为他们背后的潜台词能让面试官不动声色的知道他们想知道的东西。今年你又投了多少简历？跑了多少招聘会？回答了多少次这些经典问题？如果你还是懵懂不知这些问题背后的潜台词，好工作不会眷顾你的，一起来解开这些经典问题背后的达芬奇密码吧。</p>
                    	<p>　　问：你可以做一下自我介绍吗？</p>
                    	<p>　　潜台词：你有没有自知之明，你有些什么经验，这些经验是否值得我开这个价码。</p>
                    	<p>　　最菜鸟的回答：我叫**，我的情况简历上都有。</p>
                    	<p>　　零分，拿着你的简历仍就叫你介绍自己，你以为是多此一举？对方是想要知道你自己是否了解自己，你的口头介绍必定有侧重点，这些侧重点就是你对自己的评价。</p>
                    	<p>　　最平淡的回答：我叫**，毕业于**学校，祖籍哪里，做过什么。</p>
                    	<p>　　2分，人家不想知道你祖籍是哪里。如此平淡的回答。很难让对方不认为你在敷衍他。给两分，因为你好歹说了你做过什么。</p>
                    	<p>　　最让人反感的回答：我做过……，做过……做过……给公司赚了多少多少钱。</p>
                    	<p>　　零分。表功绩的结果只会让对方不敢用你，如此自大，你的上司怎么管你？更让对方觉得你要求的薪水一定不薄。</p>
                    	<p>　　建议回答：您好，我叫***，专业是****。这今为止在本行业中这些公司里工作过……担任过这些职位……然后一句话说一下你最引以为豪的业绩。</p>
                    	<p>　　问：你怎么看加班？</p>
                    	<p>　　潜台词：你是不是听话，是否为了工作可以牺牲自己的利益。事实上，需要牺牲自己利益的不仅仅是加班一件事，但加班却是最容易测试你的问题。</p>
                    	<p>　　最虚伪的回答：我不介意加班，无所谓。</p>
                    	<p>　　你确定你能做到？如果你做不到就不要这么说。面试官几乎可以确定你做不到。</p>
                    	<p>　　最时尚白痴的回答：我会在工作时间内尽量完成工作。如果需要还是愿意加班。</p>
                    	<p>　　曾经很流行的一个答案，但是久经沙场的面试官们一听就知道你不是听话的那种，你不喜欢加班，你准备好了答案来敷衍他们。</p>
                    	<p>　　建议回答：加班是正常的，只要工作需要，我可以加班。</p>
                    	<p>　　问:你对薪水怎么看？</p>
                    	<p>　　潜台词：你满意我们开出的薪水吗？你是否会为钱随意跳槽？</p>
                    	<p>　　最虚伪的回答：我觉得钱不重要，薪水我不做过多的要求。</p>
                    	<p>　　一看就是菜鸟，你不需要生存？虚伪的回答只会让面试官更不敢要你。</p>
                    	<p>　　最白痴的回答：你们开多少薪水？</p>
                    	<p>　　问薪水没有错，但是这种场合直接问只会让面试官认为你不了解行情，或者很看重钱。</p>
                    	<p>　　建议回答：薪水取决于我对公司的贡献多少，衡量标准是我工作的成绩。</p>
                    	<p>　　问：你为什么离开原来的公司？</p>
                    	<p>　　潜台词：你能承受的底线在哪里，什么事情会让你选择离开。而这些事情是否是公司在乎的。</p>
                    	<p>　　最白痴的回答：说以前公司坏话，比如待遇不好等等。</p>
                    	<p>　　这样的回答肯定是大忌，很容易让人认为你是抱怨型。一般这类人压力承受能力都很低。</p>
                    	<p>　　最致命的回答：人际关系不好，如遇上司或同事和不来。</p>
                    	<p>　　肯定被pass，谁愿意招一个人缘不好的人？这种回答就是自己暴露自己的缺点。</p>
                    	<p>　　建议回答：原来的公司离家太远，贵公司的交通地段很合适我的情况。</p>
                    	<p>　　问：你为什么应聘这个职位？</p>
                    	<p>　　潜台词：这份工作能为你带来什么,你对这份工作的评价是否和公司想要达到的效果一致。</p>
                    	<p>　　最白痴的回答：贵公司是实力很强的公司，这个职位也是我喜欢的。</p>
                    	<p>　　公司好坏不需要你来强调，你显然没有摸到脉门。面试官想要知道你能为这个职位带来什么，而不是职位能给你带来什么。</p>
                    	<p>　　最自大的回答：因为我能胜任。</p>
                    	<p>　　能否胜任，面试官会判断。你说了不算。面试官想听具体的内容。</p>
                    	<p>　　建议回答：首先表示你的渴望，然后说出你的优势。之后重点在你应聘了这个职位想做什么，你能为公司做什么。</p>
                    	<p>　　问:你了解我们公司吗？</p>
                    	<p>　　潜台词：你有多期待这个职位。如果你很了解本公司，且评价很高，证明你很向往这个职位，也必定会好好做。</p>
                    	<p>　　最忌讳的回答：听人说过一点点，好像……</p>
                    	<p>　　好像？看来你不了解你想面试的公司，面试官会认为你只是随意投简历。你连想进的公司都不了解，证明你没有诚意。</p>
                    	<p>　　建议回答：说出你了解到该公司最辉煌的一面，面试官们承认，这样说让他们很开心，加分很多。</p>
                    	<p>　　问：最后，你有什么问题要问？</p>
                    	<p>　　潜台词：你对这个工作是否关心、重视。</p>
                    	<p>　　最忌讳的回答：没问题。没问题，说明你不重视这份工作，你难道没有关心或者想了解的事吗？</p>
                    	<p>　　一般回答：有关工作时间、薪酬，更重要的是关于这份工作的现状以及公司的期望。</p>
                    </div>
            	</div>
        	</div>
            
            <div class="p_art_list_side fr">
            	
                <div class="art_s1">
                	<div class="tit"><a href="#">求职面试资料库</a></div>
                	<ul>
                    	<li><a href="#" class="on">这里是分类</a></li>
                        <li><a href="#">这里是分类</a></li>
                        <li><a href="#">这里是分类</a></li>
                    </ul>
                </div>
                <div class="art_s2"><a href="#"></a></div>
            	<div class="art_s3"><a href="#"></a></div>
            	<div class="art_s4">
            		<h3>青职相关</h3>
               		<div class="con">
                		<p>新手上路：<a href="#">教你如何快速找到工作</a></p>
                    	<p>关注青职：<a href="#" class="sina"></a><a href="#" class="douban"></a></p>
                    	<p>服务热线：0898-88888888</p>
                    	<div class="side_book"><a href="#"></a></div>
                	</div>
            	</div>
            </div>
            <div class="clear"></div>
        </div>
</div>
<div class="footer">
	<div class="footer_c">
    	<div class="fl">?2008-2013 <a href="#">青职网</a> | 京ICP备09028813号-1 | 京公网安备11010802008965</div>
        <div class="fr"><a href="#">关于</a> | <a href="#">联系</a> | <a href="#">招聘</a> | <a href="#">见习</a> | <a href="#">兼职</a> | <a href="#">意见反馈</a> | <a href="#">服务于声明</a>
        </div>
    </div>
</div>
</body>
</html>