<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<meta http-equiv="x-ua-compatible" content="ie=7" />
<title>职位信息 | 青职网</title>
<link href="{#$QISHI.site_template#}css/global.css" rel="stylesheet" media="all" />
<link href="{#$QISHI.site_template#}css/common.css" rel="stylesheet" media="all" />
<link href="{#$QISHI.site_template#}css/column.css" rel="stylesheet" media="all" />
<script type="text/javascript" src="{#$QISHI.site_template#}js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="{#$QISHI.site_template#}js/jquery-index.js"></script>
    <script src="{#$QISHI.site_template#}js/jquery.dialog.js" type='text/javascript' ></script>
    <script src="{#$QISHI.site_template#}js/jquery.jobs-list.js" type='text/javascript' ></script>
<script type="text/javascript">
function set(name,value){
	$("input[name="+name+"]").val(value);		
	$('#form').submit();
	}	
</script>
<script type="text/javascript"> 
$(document).ready(function()
{
    jobslist();
    jobscontrast("{#$QISHI.site_dir#}");
    apply_jobs("{#$QISHI.site_dir#}");
    favorites("{#$QISHI.site_dir#}");
    //recommend_jobs("{#$QISHI.site_dir#}");

});
</script>
<link rel="stylesheet" type="text/css" href="{#$QISHI.site_template#}images/ibanner/lrtk.css">
<script type="text/javascript" src="{#$QISHI.site_template#}images/ibanner/jquery-1.6.4.min.js"></script>
<script type="text/javascript" src="{#$QISHI.site_template#}images/ibanner/jquery.nivo.slider.js"></script>
<script type="text/javascript" src="{#$QISHI.site_template#}images/ibanner/cufon-yui.js"></script>
<script type="text/javascript" src="{#$QISHI.site_template#}images/ibanner/scripts.js"></script>
<script type="text/javascript" src="{#$QISHI.site_template#}images/ibanner/custom.js"></script>
</head>
<body id="top">
<p id="back-to-top"><a href="#top"><span></span>返回顶部</a></p>
{#include file="header.html"#} 
<!--职位列表 --> 
{#qishi_jobs_list  set="分页显示:1,列表名:jobslist,显示数目:GET[pagesize],填补字符:...,职位名长度:13,推荐:GET[recommend],紧急招聘:GET[emergency],企业名长度:19,描述长度:135,关键字:GET[keyword],工资:GET[wage],职位性质:62,排序:GET[sort]"#}
<div class="p_banner" style="background:#16b8e0;">
  <div class="p_banner_c"><img src="{#$QISHI.site_template#}images/p_banner_zy.jpg" width="1004" height="123" /></div>
</div>
<div class="p_main">
  <div class="p_tit">
    <h1 class="p_zw_tit fl">职位信息</h1>
    <div class="p_search_this fr">
      <div class="name fl">高级搜索</div>
      <div class="top_search fl">
        <form action="" method="get" id="form" name="form">
          <input type="hidden" name="sort" value="{#$smarty.get.sort#}"/>
          <input type="hidden" name="pagesize" value="{#$smarty.get.pagesize#}"/>
          <input type="hidden" name="recommend" value="{#$smarty.get.recommend#}"/>
          <input type="hidden" name="emergency" value="{#$smarty.get.emergency#}"/>
		  </form>
		  <form action="search.php#here" method="get" id="searchForm1" name="searchForm">
          <input type="text"   name="key" class="search">
        <a href="javascript:$('#searchForm1').submit()"></a></form></div>
    </div>
  </div>
  <div class="p_main_c fl">
    <div class="p_tit_tab"> <a href="javascript:set('recommend',null);set('emergency',null)" class="{#if $smarty.get.recommend==""&&$smarty.get.emergency==""#} on {#/if#}">所有职位</a><a href="javascript:set('recommend',1);set('emergency',null)" class="{#if $smarty.get.recommend=="1"#} on {#/if#}">推荐职位</a><a href="javascript:set('recommend',null);set('emergency',1)" class="{#if $smarty.get.emergency=="1"#} on {#/if#}">紧急职位</a><a href="search.php" target="_blank">搜索职位</a> </div>
    <div class="p_list_zw">
      <div class="p_order">
        <div class="fl"> 排序：<a href="javascript:set('sort','stickrtime')" class="w30 {#if $smarty.get.sort=="stickrtime"|| $smarty.get.sort==""#} on {#/if#}">默认</a> <span>|</span> <a href="javascript:set('sort','rtime')" class="w60 {#if $smarty.get.sort=="rtime"#} on {#/if#}">更新时间</a> <span>|</span> <a href="javascript:set('sort','hot')" class="w30 {#if $smarty.get.sort=="hot"#} on {#/if#}">热度</a> <span>|</span> <a href="javascript:set('sort','wage')" class="w30 {#if $smarty.get.sort=="wage"#} on {#/if#}">工资</a> </div>
        <div class="fr"> 每页显示：<a href="javascript:set('pagesize','10')" class="w25 {#if $smarty.get.pagesize=="10"|| $smarty.get.pagesize==""#} on {#/if#}">10</a> <a href="javascript:set('pagesize','20')" class="w25 {#if $smarty.get.pagesize=="20"#} on {#/if#}">20</a> <a href="javascript:set('pagesize','30')" class="w25 {#if $smarty.get.pagesize=="30"#} on {#/if#}">30</a> </div>
        <div class="clear"></div>
      </div>
      <ul>
      {#foreach from=$jobslist item=list#}
        <li>
          <div class="a1">
            <div class="a1b1"><a href="{#$list.jobs_url#}" target="_blank">{#$list.jobs_name#}</a>{#if $list.recommend#}<span class="nice">{#/if#}</span>{#if $list.emergency#}<span class="worry"></span>{#/if#}</div>
            <div class="a1b2"><a href="{#$list.company_url#}" target="_blank">{#$list.companyname#}</a></div>
            <div class="a1b3">{#$list.refreshtime_cn#}</div>
            <div class="clear"></div>
          </div>
          <div class="a2">
            <p> <span>工作地点：{#$list.district_cn|strrchr:"/"|substr:1#}</span> <span>职位类别：{#$list.category_cn#}</span> <span>每月薪水：{#$list.wage_cn#}</span> <span>学历要求：{#$list.education_cn#}</span> <span>招聘人数：{#$list.amount#}</span> </p>
            <p>福利待遇：{#foreach from=$list.tag item=tag#}{#$tag.1#} {#/foreach#}</p>
            <p>岗位职责：{#$list.contents#}</p>
          </div>
          <div class="a3">
		  【<a href="{#$list.jobs_url#}" class="cf98a1c">查看</a>】
          【<a href="javascript:void(0);" class="c78af34 add_favorites" id="{#$list.id#}">收藏</a>】
          【<a href="javascript:;" class="cf0418f">分享给好友</a>】
          【<a href="javascript:void(0);" class="c37c8f7 app_jobs" id="{#$list.id#}">投递意向</a>】</div>
        </li>
        {#/foreach#}
      </ul>
      <div class="p_page"> {#if !$jobslist#} 抱歉，没有符合此条件的信息。{#/if#}{#if $page#}{#$page#}{#/if#}</div>
    </div>
  </div>
  <div class="p_side fr">
    <div class="p_side_zw_nav">
      <div class="tit"></div>
      <ul>
      {#qishi_get_classify set="列表名:category,类型:QS_company_type,显示数目:9"#}
<!-- 以下为循环数组category内容  -->
{#foreach from=$category item=list#}
 <li><a href="search.php?companytype={#$list.id#}#here">{#$list.categoryname#}</a><span>{#$list.stat_jobs|default:"0"#} 条信息</span></li>
{#/foreach#}
<!-- 循环结束  -->
      </ul>
    </div>
    <div class="p_side_will"><a href="user/personal/personal_resume.php?act=make1"><img src="{#$QISHI.site_template#}images/side_will_btn.gif" width="241" height="134" /></a></div>
    <div class="p_side_help">
      <h3>青职相关</h3>
      <div class="con">
        <p>新手上路：<a href="news/news-show.php?id=17" target="_blank">教你如何快速找到工作</a></p>
        <p>关注青职：<a href="{#$QISHI.weibo#}" class="sina" target="_blank">{#$QISHI.weibo#}</a>
		<!--<a href="#" class="douban"></a>--></p>
        <p>服务热线：{#$QISHI.bootom_tel#}</p>
        <div class="side_book"><a href="user/personal/personal_user.php?act=feedback" target="_blank"></a></div>
      </div>
    </div>
  </div>
</div>
{#include file="footer.html"#} 
</body>
</html>